// abstracts
@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/type-scale' as *;

// utilities
@use '@/styles/utilities/breakpoints' as *;
@use '@/styles/utilities/buttons' as *;
@use '@/styles/utilities/container' as *;
@use '@/styles/utilities/menus' as *;

.works {
  background-color: $primary-dark1;
  color: $white2;

  .container {
    @include container-flex(5.6rem);
    flex-direction: column;

    .headline {
      display: flex;
      justify-content: space-between;

      .title {
        width: 45%;
        white-space: nowrap;
      }

      .desc {
        width: 55%;
      }
    }

    .cardContents {
      @include container-grid($repeatNum:3, $frNum:1fr, $grid-gap: 9.6rem);
      justify-items: center;
      width: 95%;
    }
  }
  // container
}
// works


// @media screen and (max-width: 1800px) ............................
@include xxl {
  .works {
    .container {
      .headline {        
        .title {
          width: 50%;
        }

        .desc {
          width: 50%;
        }
    }
    // headline

      .cardContents {
        grid-gap: 7.2em;
      }
    }
    // container
  }
  // works
}
// xxl


// @media screen and (max-width: 1400px) ............................
@include xl {
  .works {
    .container {
      .headline {
        width: 90%;
        flex-direction: column;
        gap: 3.2rem;

        .title {
          width: auto;
        }
  
        .desc {
          width: auto;
        }
      }
      // headline

      .cardContents {
        width: 100%;
        grid-gap: 4.8em;
      }
    }
    // container
  }
  // works
}
// xl


// @media screen and (max-width: 1024px) ............................
@include lg {
  .works {
    .container {
      .headline {
      }
      // headline

      .cardContents {
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 6.4rem;
      }
    }
    // container
  }
  // works
}
// lg


// @media screen and (max-width: 768px) .......................
@include md {
  .works {
    .container {
      .headline {
        gap: 2.4rem;
      }
      // headline

      .cardContents {
        width: 55%;
      }
    }
    // container
  }
  // works
}
// md


// @media screen and (max-width: 576px) ......................
@include sm {
  .works {
    .container {
      .headline {
        align-items: center;

        .desc {
          text-align: center;
        }
      }
      // headline

      .cardContents {
        width: 65%;
      }
    }
    // container
  }
  // works
}
// sm


// @media screen and (max-width: 450px) ......................
@include xs {
  .works {
    .container {
      .headline {
        width: 95%;

        .title {
          white-space: normal;
          font-size: var(--heading3);
        }
      }
      // headline

      .cardContents {
        width: 80%;
      }
    }
    // container
  }
  // works
}
// xs