// Brand Colors
$primary: #106A9C;
// $primary-LTL30
$primary-LTL1: #28A4E9;
// $primary-LTL50
$primary-LTL2: #C2E5F9;
// $primary-lts30
$primary-lts1: #5897BA;
// $primary-lts80
$primary-lts2: #CFE1EB;
// $primary-dark50
$primary-dark1: #08354E;

$secondary: #9C3B17;
// $secondary-LTL30
$secondary-LTL1: #E16435;
// $secondary-LTL80
$secondary-LTL2: #F6D3C5;
// $secondary-lts50
$secondary-lts1: #CE9D8B;
// $secondary-lts80
$secondary-lts2: #EBD8D1;
// $secondary-dark
$secondary-dark1: #4E1E0C;

// $accent: #;
// $accent-light50: #;
// $accent-dark50: #;

// Neutral Colors
$black: #0A0B0B;
$black90: #222323;
$black80: #3B3C3C;

$gray70: #545454;
$gray60: #6C6D6D;
$gray50: #858585;
$gray40: #9D9D9D;
$gray30: #B6B6B6;
$gray20: #CECECE;

$white10: #E7E7E7;
$white5: #F3F3F3;
$white2: #FAFAFA;
$white: #FFFFFF;

// Interaction Colors
$red: #D32F2F;
$red-light30: #E06D6D;
$red-dark20: #A92626;

$yellow: #F9A825;
$yellow-light30: #FBC266;
$yellow-dark20: #C7861E;

$green: #4CAF50;
$green-light30: #82C785;
$green-dark20: #3D8C40;

$blue: #0091EA;
$blue-light30: #4DB2F0;
$blue-dark20: #0074BB;