// abstracts
@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/type-scale' as *;

// utilities
@use '@/styles/utilities/breakpoints' as *;
@use '@/styles/utilities/buttons' as *;
@use '@/styles/utilities/container' as *;
@use '@/styles/utilities/flex' as *;
@use '@/styles/utilities/font-utils' as *;
@use '@/styles/utilities/menus' as *;

.iconCard {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .cardContents {
    @include flex-col-center(3.2rem);

    .iconWrapper {
      width: 8rem;
      height: 8rem;
      background-color: $primary-lts2;
      @include flex-row-center;
      border-radius: 50%;
      padding: 12px;
  
      .icon {
        color: $primary-dark1;
        font-size: 8rem;
      }
    }
    // iconWrapper

    .cardText {
      text-align: center;
  
      .desc {
        line-height: 150%;
        margin: 16px 0 24px;
      }
    }
  }
  // cardContents

  .btnWrapper {
    display: flex;
    justify-content: flex-end;

    .btnIcon {
      @include btn-text;
      color: $primary-LTL2;
      background-color: $primary;
      @include flex-row-center(0.8rem);
      padding: 0;
    }
  }
}


// @media screen and (max-width: 1400px) ............................
@include xl {
  .iconCard {
    .cardContents {
      gap: 2.4rem;

      .iconWrapper {
        width: 6.4rem;
        height: 6.4rem;

        .icon {
          font-size: 6.4rem;
        }
      }
    }
    // cardContents

    .btnWrapper {
      justify-content: center;
    }
  }
  // iconCard
}
// xl



// @media screen and (max-width: 1024px) ............................
@include lg {
  .iconCard {
    .cardContents {
    }
    .btnWrapper {
    }
  }
  // iconCard
}
// lg


// @media screen and (max-width: 768px) ............................
@include md {
  .iconCard {
    width: 45%;

    .cardContents {
    }

    .btnWrapper {
    }
  }
  // iconCard
}
// md


// @media screen and (max-width: 576px) ............................
@include sm {
  .iconCard {
    width: 55%;

    .cardContents {
      gap: 1.6rem;

      .iconWrapper {
        width: 5.6rem;
        height: 5.6rem;
      }

      .cardText {
    
        .desc {
          line-height: 120%;
          margin: 16px 0 16px;
        }
      }
    }

    .btnWrapper {
    }
  }
  // iconCard
}
// sm


// @media screen and (max-width: 450px) ............................
@include xs {
  .iconCard {
    width: 65%;

    .cardContents {
      .iconWrapper {
      }
      .cardText {
      }
    }
    .btnWrapper {
    }
  }
  // iconCard
}
// xs